/* Genral CSS */
.section-title{
padding-top: 90px;
padding-bottom: 50px;
}

.section-title h2{
	position: relative;
	text-align: center;
	color: #333;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}
.section-title h2:after{
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50%;
	width: 60px;
	height: 1px;
	background-color: #129CF3;
	margin-left: -30px;
	
}

body h1 h2 h3 h4 h5 h6 p {
	font-family: 
}
/*===========================================*/
.boy{

}

.log {
	margin-top: 6px;
}

.pan{
	position: relative;
	top: 150px;
	}
.but{
	background-color: #d1b621;
	color: white;
}
.panel  .panel-heading{
	background-color: black;
	color: white;
}